.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.canvasContainer {
  background-color: aliceblue;
  height: 90vh;
  width: 100vw;
}
